@model WebColegio.Models.ViewModel.ColeccionCatalogos
@* @{
	ViewData["Title"] = "Index";
} *@
<script src="~/js/site.js"></script>
@* <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" /> *@
<div class="container mt-auto" style="padding:2px;">
	<div class="card shadow-lg p-3 mb-5 bg-white rounded">
		<div class="card-header bg-primary text-white">
			<h5 class="mb-0"><i class="bi bi-clipboard-check"></i> Reporte de Inventario</h5>
		</div>
		<div class="card-body">
			<div class="table-responsive" style="font-size:12px">
			<div class="col-4 text-center">
				@using (Html.BeginForm("Index", "Productos", FormMethod.Get))
				{
					<div class="row">
						<div class="col-4">
							<label class="control-label">Desde:</label>
							<input type="date" name="fechainicio" id="FechaInicio" pattern="\d{2}/\d{2}/\d{4}" placeholder="dd/mm/yyyy" class="form-control" />
						</div>
						<div class="col-4">
							<label class="control-label">Hasta:</label>
							<input type="date" name="fechafin" id="FechaFin" pattern="\d{2}/\d{2}/\d{4}" placeholder="dd/mm/yyyy" class="form-control" />
						</div>
						<div class="col-4">
							<br />
							<button type="submit" class="form-control btn btn-success">Filtrar</button>
						</div>
					</div>

				}
			</div>
			<div class="col-12 text-end">

				<a asp-action="Create" class="btn btn-primary">
					<i class="bi bi-plus-circle"></i> Agregar Inventario
				</a>
			</div>
			<div class="table-responsive" style="font-size: 12px;">
				<table id="tablaProducto" class="table justify-content-lg-between table-bordered  small" style="width:100%">
				@* class="display responsive nowrap" style="width:100%"> *@
				<thead>
					<tr>
						
						<th>Código</th>
						@* <th>Nombre Producto</th> *@
						<th>Descripción</th>
						<th>Existencia Inicial</th>
						<th>Tipo de Movimiento</th>
						<th>Stock Actual</th>
						<th>Costo Unitario</th>	
						<th>Categoría</th>
						<th>Importe de Inventario</th>
						<th>Fecha Registro</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var itemProducto in Model.producto)
					{
						<tr>
							<td>

								@itemProducto.CodigoBarra
							</td>
							@* 
							<td>

									<a asp-action="Index" asp-controller="Productos" asp-route-id="@itemProducto.IdProducto" class="btn btn-sm btn-info">	@itemProducto.NombreProducto</a>

							</td> *@
							
							<td>

								@itemProducto.NombreProducto
							</td>
							<td>

								@itemProducto.ExistenciaInicial
							</td>

							<td>
								@{
									var itemMovInventario = Model.movinventario
									.FirstOrDefault(a => a.IdMovInventario == itemProducto.IdMovInventario);
								}

								@itemMovInventario.MovimientoInventario
							</td>
							
							<td>

								
									@itemProducto.StockActual
							</td>
							
							<td>
									C$ @itemProducto.CostoUnitario
								

							</td>
								
							<td>
									@{
										var itemCategoriaProducto = Model.categoriasProducto
										.FirstOrDefault(a => a.IdCateProducto == itemProducto.IdCateProducto);
									}
								@itemCategoriaProducto.NombreCategoria
							</td>
							
							<td>

								C$ @(@itemProducto.StockActual * @itemProducto.CostoUnitario)

							</td>
							<td>
								@itemProducto.FechaRegistro.ToString("dd/MM/yyyy")
								</td>

						</tr>
					}
				</tbody>

			</table>
		</div>
		</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script>
	$(document).ready(function () {
			$('#tablaProducto').DataTable({
			responsive: true,
			dom: 'Bfrtip', // Botones + filtro + tabla
			buttons: [
				{
					extend: 'excelHtml5',
					text: 'Exportar a Excel',
					className: 'btn btn-success'
				}
			],
			language: {
				url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
			}
		});
	});
</script>