@* @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor *@
@inject IConfiguration Configuration
<nav style="background-color:royalblue;height:30%;">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="text-start text-white">
            <span>Bienvenido, @User.Identity.Name </span>
        </div>
    }
    
    <div class="header" style=" display: flex; justify-content: space-between; align-items: center; text-align: center; color: white;  padding: 1px 90px;">
        <img src="~/image/colegiosanfrancisco.png" alt="izquierda" class="logo-izquierda" style="width:8%;margin-left:55px">

        <div class="titulo" style="flex: 1;">
            <span class="nombre" style="font-size: 25px;
  font-family: 'Arial', 'Trebuchet MS', sans-serif;
  display: block;">Colegio Parroquial San Francisco Javier</span><br>
            <span class="lema" style="font-size: 20px;font-family: 'Arial', 'Trebuchet MS', sans-serif;">“En Todo Amar y Servir”</span>
        </div>

        <img src="~/image/SanFrancisco.png" alt="derecha" class="logo-derecha" style="width:28%;">
        
    </div>
   
   @*  <div class="align-text-top text-center text-white"><span style="font-size:25px;font-family:'Arial', 'Trebuchet MS', sans-serif; margin-left:15px">Colegio Parroquial San Francisco Javier</span><br />
        <span style="font-size:20px; font-family:'Arial', 'Trebuchet MS', sans-serif;margin-left:15px">”En Todo Amar y Servir”</span>
       
    
    <div class="text-start text-white" style="">
        <img src="~/image/colegiosanfrancisco.png" style="width:8%;margin-left:40px;" />
        <img src="~/image/SanFrancisco.png" style="width:28%;margin-left:58%;"/>
    </div>
    </div> *@
    
</nav>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" icon="~/unpggl.ico">
    @* <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> *@
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - WebColegio</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebColegio.styles.css" asp-append-version="true" />

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- DataTables con estilo Bootstrap 5 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" />

    <!-- Opcional: Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    



</head>
<body id="page-top">
    @{
        int rol = 0;
        var usrol = 0;
        int variable = 1;
    }
    <div class="d-flex" style="min-height: 150vh;">
        <nav class="text-blue bg-success p-3" id="sidebar" style="width:240px;">
            @* <div class="container-fluid mt-1" style="width:125px;margin-left:1px">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Inicio</a> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
*@
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav sidebar sidebar-dark accordion text-black" id="accordionSidebar" style="background-color: mediumseagreen;width:180px;">

                    <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLogin"
                           aria-expanded="false">
                            
                                <i class="bi bi-person-lock"></i> Login
                            </a>
                        <div id="collapseLogin" class="collapse" data-bs-parent="#accordionSidebar">

                                <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" asp-controller="Login" asp-action="Index"> <i class="bi bi-arrow-return-right text-black"></i> Iniciar Sesión</a>
                                <a class="collapse-item" asp-controller="Login" asp-action="Logout"> <i class="bi bi-arrow-return-right text-black"></i> Cerrar Sesión</a>

                                </div>
                            </div>
                        </li>                       
                    
                    
                    @if (User.Identity.IsAuthenticated)
                    {

                        <!-- Menú Principal -->
                        @* <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Alumnos" asp-action="Index"> *@
                        @* <div class="sidebar-brand-text mx-3">Menú</div> *@
                        @* </a> *@
                        @if (User.IsInRole("Cajero") || User.IsInRole("Admin") || User.IsInRole("Docente"))
                        {
                            <!-- Alumnos -->
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"  data-bs-target="#collapseAlumnos"
                                   aria-expanded="false" aria-controls="collapseAlumnos" role="button">
                                    
                                    <i class="bi bi-mortarboard-fill"></i>
                                    <span>Alumnos</span>
                                </a>
                                <div id="collapseAlumnos" class="collapse" data-bs-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">

                                        <a class="collapse-item" asp-controller="Alumnos" asp-action="Create"> <i class="bi bi-arrow-return-right text-black"></i> Agregar Estudiante</a>
                                    </div>
                                </div>
                            </li>
                        }
                        <!-- Notas -->
                        @if (User.IsInRole("Docente") || User.IsInRole("Secretaria") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseNotas"
                                   aria-expanded="false" aria-controls="collapseNotas" role="button">
                                    <i class="bi bi-pencil-square"></i>
                                    <span>Notas</span>
                                </a>
                                <div id="collapseNotas" class="collapse" data-bs-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">

                                        <a class="collapse-item" asp-controller="Notas" asp-action="Create"> <i class="bi bi-arrow-return-right text-black"></i> Agregar  Notas</a>
                                        @* <a class="collapse-item" asp-controller="Notas" asp-action="Edit">  Editar</a> *@
                                        @* <a class="collapse-item" asp-controller="PeriodoEvaluacion" asp-action="Create">  Período de Evaluación</a> *@
                                    </div>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Cajero") || User.IsInRole("Admin") || User.IsInRole("Secretaria"))
                        {
                            <!-- Facturación -->
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRecibos"
                                   aria-expanded="false" aria-controls="collapseRecibos" role="button">
                                    <i class="bi bi-stickies"></i>
                                    <span>Arqueo Diario</span>
                                </a>
                                <div id="collapseRecibos" class="collapse" data-bs-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">

                                        <a class="collapse-item" asp-controller="ArqueoDiario" asp-route-fecha="@DateTime.Now.ToString("yyyy-MM-dd")" asp-action="ArqueoCaja" target="_blank"><i class="bi bi-arrow-return-right text-black"></i> Generar Arqueo</a>
                                        
                                    </div>
                                </div>
                            </li>
                           
                        }
                        <!-- productos -->
                        @if (User.IsInRole("Secretaria") || User.IsInRole("Cajero") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProducto"
                                   aria-expanded="false" aria-controls="collapseProducto" role="button">
                                    <i class="bi bi-clipboard-check"></i>
                                    <span>Inventario</span>
                                </a>
                                <div id="collapseProducto" class="collapse" data-bs-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">

                                        <a class="collapse-item" asp-controller="Productos" asp-action="Create"> <i class="bi bi-arrow-return-right text-black"></i> Agregar Inventario</a>
                                        @* <a class="collapse-item" asp-controller="Login" asp-action="Login">Sesión</a> *@

                                    </div>
                                </div>
                            </li>
                        }
                        <!-- pagos -->
                        @if (User.IsInRole("Admin"))
                        {
                        <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePago"
                               aria-expanded="false" aria-controls="collapsePago">
                                    <i class="bi bi-collection"></i>                               

                                <span>Reportes</span>
                            </a>
                                <div id="collapsePago" class="collapse" data-bs-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    @if(User.IsInRole("Director") || User.IsInRole("Admin"))
                                    {
                                            <a class="collapse-item" asp-controller="Alumnos" asp-action="Index"> <i class="bi bi-arrow-return-right text-black"></i> Reporte de Alumnos</a>
                                            <a class="collapse-item" asp-controller="Notas" asp-action="Index"><i class="bi bi-arrow-return-right text-black"></i> Reporte de Notas</a>
                                    }

                                        <a class="collapse-item" asp-controller="Pagos" asp-action="Index"> <i class="bi bi-arrow-return-right text-black"></i> Reporte de Caja Mensualidad</a>
                                        <a class="collapse-item" asp-controller="PagoCaja" asp-action="Index"> <i class="bi bi-arrow-return-right text-black"></i> Reporte de Caja Varios</a>
                                        <a class="collapse-item" asp-controller="ReciboEgreso" asp-action="Index"> <i class="bi bi-arrow-return-right text-black"></i> Reporte de Caja Egreso</a>

                                        <a class="collapse-item" asp-controller="Pagos" asp-action="Index"> <i class="bi bi-arrow-return-right text-black"></i> Reporte de Recibos Mensualidades</a>
                                        <a class="collapse-item" asp-controller="PagoCaja" asp-action="Index"> <i class="bi bi-arrow-return-right text-black"></i> Reporte de Recibo Caja Varios</a>
                                        <a class="collapse-item" asp-controller="ReciboEgreso" asp-action="Index"> <i class="bi bi-arrow-return-right text-black"></i> Reporte de Recibo Egreso</a>

                                        <a class="collapse-item" asp-controller="Productos" asp-action="Index"> <i class="bi bi-arrow-return-right text-black"></i> Reporte de Inventario</a>
                                        <a class="collapse-item" asp-controller="Pagos" asp-action="EstadoCuenta"> <i class="bi bi-arrow-return-right text-black"></i> Estado de Cuenta</a>
                                    

                                </div>
                            </div>  
                        </li>
                            <!-- Usuario -->
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsuario"
                                   aria-expanded="false" aria-controls="collapseInventario">
                                    <i class="bi bi-person"></i>
                                    <span>Usuario</span>
                                </a>
                                <div id="collapseUsuario" class="collapse">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item" asp-controller="Inventario" asp-action="Index">Lista de Inventario</a>
                                        <a class="collapse-item" asp-controller="Usuarios" asp-action="Create"> <i class="bi bi-arrow-return-right text-black"></i> Agregar Usuario</a>


                                    </div>
                                </div>
                            </li>
                    }
                        @if (User.IsInRole("Cajero") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePagoCaja"
                                   aria-expanded="false" aria-controls="collapsePagoCaja" role="button">
                                    <i class="bi bi-cash-coin"></i>
                                    <span>Agregar Pagos</span>
                                </a>
                                <div id="collapsePagoCaja" class="collapse" data-bs-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">

                                        <a class="collapse-item" asp-controller="PagoCaja" asp-action="Create"> <i class="bi bi-arrow-return-right text-black"></i> Recibo de Caja Varios</a>
                                        <a class="collapse-item" asp-controller="ReciboEgreso" asp-action="Create"><i class="bi bi-arrow-return-right text-black"></i> Recibo de Caja Egresos</a>

                                        <a class="collapse-item" asp-controller="Pagos" asp-action="Create"> <i class="bi bi-arrow-return-right text-black"></i> Recibo de Caja Mensualidad</a>


                                        <a class="collapse-item" asp-controller="PagoCaja" asp-action="EstadoCuenta"> <i class="bi bi-arrow-return-right text-black"></i> Estado de Cuenta</a>
                                    </div>
                                </div>
                            </li>
                        }
                        
                    }
                    </ul>
                </div>
            @* </div> *@
        </nav>


        <div class="container-fluid flex-grow-1 p-4" id="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div><br />
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-dark">
        <div class="container my-auto">
            <div class="copyright text-center my-auto text-light">
                <span> ¡Fe, Ciencia, Patria Iglesia ¡</span>
                <hr />
                <span>Copyright &copy;2025 Colegio San Francisco Javier</span> 

            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- End of Content Wrapper -->
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Cerrar Sesión?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro que quieres cerrar la sesión?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" asp-controller="Login" asp-action="CerrarSesion">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Configuración global de API -->
    <script>
        window.apiConfig = {
            baseUrl: '@(Configuration["ApiSettings:BaseUrl"] ?? "")'
        };
    </script>
        @await RenderSectionAsync("Scripts", required: false)


	
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- DataTables con Bootstrap 5 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" />

    <!-- Bootstrap Icons (opcional) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- jQuery -->
    <!-- En _Layout.cshtml -->
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@

    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables + Extensiones -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <!-- Exportación (JSZip / pdfmake) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <!-- Script para manejar el comportamiento de los collapse -->
    <script>
                
        (function() {
             'use strict';

             // Interceptar el evento ANTES de que Bootstrap lo procese usando capture phase
                   
            // Interceptar el evento ANTES de que Bootstrap lo procese usando capture phase
            document.addEventListener('click', function(e) {
                const link = e.target.closest('a[data-bs-toggle="collapse"]');
                if (!link) return;

                const targetId = link.getAttribute('data-bs-target');
                if (!targetId) return;

                const targetElement = document.querySelector(targetId);
                if (!targetElement) return;

                 // Verificar si el collapse está abierto
                 const isExpanded = targetElement.classList.contains('show');

                if (isExpanded) {
                    // Si está abierto, prevenir el comportamiento por defecto
                    e.preventDefault();
                    e.stopImmediatePropagation();

                    // Obtener o crear la instancia de Collapse de Bootstrap
                    let bsCollapse = bootstrap.Collapse.getInstance(targetElement);
                    if (!bsCollapse) {
                        bsCollapse = new bootstrap.Collapse(targetElement, {
                            toggle: false
                        });
                    }

                    // Cerrar el collapse
                    bsCollapse.hide();

                    // Actualizar el estado del enlace
                    link.classList.add('collapsed');
                    link.setAttribute('aria-expanded', 'false');
                }
            }, true); // true = usar capture phase para interceptar antes de Bootstrap
        })();
    </script>

</body>

</html>

<style>
    .collapse-item {
        text-decoration: none; /* quita subrayado */
        display: block;
        padding: 6px 12px;
    }

        .collapse-item:hover {
            background-color: darkgray;
            color: #000;
            text-decoration: none; /* asegura que no vuelva */
        }

    .nav-link:hover {
        background-color: yellow;
        color: #000;
        text-decoration: none;
    }



    /* Estilos mejorados para el modal */
    .modal {
        z-index: 1055;
    }

    .modal-backdrop {
        z-index: 1050;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
    }

    .modal-content {
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .modal-header {
        border-bottom: 1px solid #dee2e6;
        padding: 1rem 1.5rem;
    }

    .modal-body {
        padding: 1.5rem;
    }

    .modal-footer {
        border-top: 1px solid #dee2e6;
        padding: 1rem 1.5rem;
    }
</style>