@model WebColegio.Models.ViewModel.ArqueoCajaViewModel

@{
    Layout = null; // Para que se imprima sin master page
}

<html>
<head>
    <link href="~/css/denominacionesarqueo.css" rel="stylesheet" />
  
</head>
<body>
    <div class="titulo">
        @* <h3>@Model.Colegio</h3> *@
        <div class="subtitulo">
            <p>ARQUEO DE CAJA</p>
           @*  <p>Serie: @Model.Serie &nbsp;&nbsp; Nº: @Model.Numero</p>
            <p>Fecha: @Model.Fecha.ToString("dd/MM/yyyy")</p> *@
        </div>
    </div>

    <!-- Ingresos -->
    <h4>Ingresos</h4>
    <table>
        <thead>
            <tr>
                <th>Concepto</th>
                <th>No. Recibo</th>
                <th>Cantidad</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Ingresos)
            {
                <tr>
                    <td>@i.Concepto</td>
                    <td>@i.Recibo</td>
                    <td style="text-align:center">@i.Cantidad</td>
                    <td style="text-align:right">@i.Monto.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    <p class="totales">Total Ingresos: @Model.TotalIngresos.ToString("C")</p>

    <!-- Egresos -->
    <h4>Egresos</h4>
    <table>
        <thead>
            <tr>
                <th>Detalle</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Egresos)
            {
                <tr>
                    <td>@e.Detalle</td>
                    <td style="text-align:right">@e.Monto.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    <p class="totales">Total Egresos: @Model.TotalEgresos.ToString("C")</p>

   
    <table class="col-6" id="tableContent">
        
        <tbody id="bodyTableContent">
            <tr><td>
            <!-- Detalle de Dinero en Córdobas -->
            <h4>Detalle de Dinero (Córdobas)</h4>
            <table>
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Denominación</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 1,000.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 500.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 200.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 100.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 50.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 20.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 10.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 5.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 1.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>C$ 0.50</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    @*  @foreach (var d in Model.DetalleCordobas)
            {
                <tr>
                    <td style="text-align:center">@d.Cantidad</td>
                    <td style="text-align:right">C$ @d.Denominacion</td>
                    <td style="text-align:right">@d.Monto.ToString("C")</td>
                </tr>
            } *@
                </tbody>
            </table>

            </td>
            <td style="align-content:baseline;">

            <!-- Detalle de Dinero en Dólares -->
            <h4>Detalle de Dinero (Dólares)</h4>
            <table>
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Denominación</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>$ 100.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>$ 50.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>$ 20.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>$ 10.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>$ 5.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                        <td><span>$ 1.00</span></td>
                        <td><input type="text" id="DenominacionCordoba" /></td>
                    </tr>
                            <tr>
                                <td></td>
                                <td>Total Dolares</td>

                                <td>$<input type="text" id="DenominacionCordoba" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Tasa de Cambio</td>

                                <td><input type="text" id="DenominacionCordoba" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Equivalente En:</td>
                                <td><input type="text" id="DenominacionCordoba" /></td>
                            </tr>
                </tbody>
            </table>
                    
                </td>
            </tr>
        </tbody>
    </table>
    

    <p class="totales" >
        Total en Letras: <u>@Model.TotalEnLetras</u>
    </p>

    <!-- Firmas -->
    <div class="firma">
        <div>
            __________________________<br />
            Elaborado por
        </div>
        <div>
            __________________________<br />
            Revisado / Recibido por
        </div>
    </div>

    <br />
    <button class="no-print text-center" onclick="window.print()">🖨 Imprimir</button>
</body>
</html>

