@model WebColegio.Models.ViewModel.ColeccionCatalogos
@* @{
	ViewData["Title"] = "Index";
} *@<script src="~/js/site.js"></script>
@* <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" /> *@
<div class="container mt-6" style="padding:20px;">
	<div class="card shadow-lg p-3 mb-5 bg-white rounded">
		<div class="card-header bg-primary text-white">
			<h5 class="mb-0"><i class="bi bi-coin"></i>  Recibo de Caja</h5>
		</div>
		<div class="card-body">


			<table id="tablaReciboCaja" class="table table-striped table-bordered nowrap" style="width:100%">
				<thead>
					<tr>
						<th>Número de Recibo</th>
						<th>Serie de Recibo</th>
						<th>Recibi De</th>
						<th>Cantidad</th>
						<th>Concepto</th>						
						<th>Fecha Emisión</th>
						<th>Cajero</th>						
					</tr>
				</thead>
				<tbody>
					@foreach (var itemReciboCaja in Model.reciboCajas)
					{
						<tr>

							@* @foreach (var alumno in Model.alumno.Where(a => a.IdAlumno == itemReciboCaja.))
							{
								<th>

									@alumno.Nombre  @alumno.Apellido

								</th>
							} *@
							<td>
								<a asp-action="Details" asp-controller="ReciboCaja" asp-route-id="@itemReciboCaja.IdRecibo" class="btn btn-sm btn-success">@itemReciboCaja.NumeroRecibo</a>
								
							</td>
							<td>

								@itemReciboCaja.Serie

							</td>
							<td>

								@itemReciboCaja.RecibeDe

							</td>
							<td>

								@itemReciboCaja.Monto

							</td>
							@foreach (var itemTipoMovimiento in Model.tipoMovimiento.Where(a=>a.IdTipoMovimiento==itemReciboCaja.IdTipoMovimiento))
							{

								<td>

									@itemTipoMovimiento.IdTipoMovimiento

							</td>
							}
							@* @foreach (var conceptopago in Model.pagos.Where(a => a.IdPago == itemReciboCaja.IdPago))
							{
								<th>

									@conceptopago.Concepto

								</th>
							} *@
							
								<td>

									@itemReciboCaja.FechaRegistro

								</td>
							
							@foreach (var cajero in Model.usuarios)
							{
								<td>

									@cajero.NombreUsuario

								</td>
							}
							

							@* <td>
								<a asp-action="Edit" asp-controller="Notas" asp-route-id="@itemNotas.IdNota" class="btn btn-sm btn-success"><i class="bi bi-pencil-square"></i></a>
							</td>
							<td>
								<a asp-action="Details" asp-controller="Notas" asp-route-id="@itemNotas.IdNota" class="btn btn-sm btn-warning"><i class="bi bi-journal-richtext"></i></a>
							</td> *@
						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script>
	$(document).ready(function () {
			$('#tablaReciboCaja').DataTable({
			responsive: true,
			dom: 'Bfrtip', // Botones + filtro + tabla
			buttons: [
				{
					extend: 'excelHtml5',
					text: 'Exportar a Excel',
					className: 'btn btn-success'
				}
			],
			language: {
				url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
			}
		});
	});
</script>