@model WebColegio.Models.ViewModel.ArqueoDiarioViewModel

@{
    Layout = null; // Para que se imprima sin master page
}

<html>
<head>
    <link href="~/css/denominacionesarqueo.css" rel="stylesheet" />

</head>
<body>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="titulo">
            @* <h3>@Model.Colegio</h3> *@
            <div class="subtitulo">
                <p>ARQUEO DE CAJA</p>
                <p>@Model.Colegio</p>
                <p>VICARIA DE EDUCACIÓN CATÓLICA</p>
                <p>@Model.Direccion</p>
                <p>Serie: "A" &nbsp;&nbsp; Nº: @Model.siguienteNumero</p>
                @{
                    var fecha = DateTime.Now.ToString("dd/MM/yyyy");
                }
                <p>Fecha: @fecha</p>
                <input type="hidden" asp-for="@Model.arqueoDiario.Serie" value="A" />
                <input type="hidden" asp-for="@Model.arqueoDiario.NumeroArqueo" value="@Model.siguienteNumero" />
                <input type="hidden" asp-for="@Model.arqueoDiario.IdRecinto" value="@Model.arqueoDiario.IdRecinto"/>
            </div>
        </div>

        <!-- Ingresos -->
        <h4>Ingresos</h4>
        <table>
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>No. Recibo</th>
                    <th>Cantidad</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.Ingresos)
                {
                    <tr>
                        <td>@i.Concepto</td>
                        <td>@i.Recibo</td>
                        <td style="text-align:center">@i.Cantidad</td> 
                        <td style="text-align:right">@i.Monto.ToString("C")</td>
                    </tr>
                }
                @foreach (var i in Model.IngresoCajaDto)
                {
                    <tr>
                        <td>@i.Conceptos</td>
                        <td>@i.Recibos</td>
                        <td style="text-align:center">@i.Cantidades</td>
                        <td style="text-align:right">@i.Montos.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            decimal totalIngresos = Model.TotalIngresos;
            decimal totalEgresos = Model.TotalEgresos;

            decimal totalEfectivoEntregar = totalIngresos - totalEgresos;
        }

        <p class="totales">Total Ingresos: @Model.TotalIngresos.ToString("C")</p>
        <input type="hidden" asp-for="@Model.arqueoDiario.TotalIngreso" value="@Model.TotalIngresos"/>
        <!-- Egresos -->
        <h4>Egresos</h4>
        <table>
            <thead>
                <tr>
                    <th>Detalle</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model.Egresos)
                {
                    <tr class="align-content-center">
                        <td>@e.Detalle</td>
                        <td style="text-align:right">@e.Monto.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
        @* @{
            // decimal ingresoCaja = Convert.ToDecimal(Model.IngresoCajaDto.ToString());
            // decimal ingresoMatricula = Convert.ToDecimal(Model.TotalIngresos.ToString());
            // decimal egresos=Convert.ToDecimal(Model.TotalEgresos.ToString());
            var TotalEfectovoEntregar = (Model.IngresoCajaDto ?? 0) +(Model.TotalIngresos ?? 0)-Model.Egresos
        }  *@

        <p class="totales">Total Egresos: @Model.TotalEgresos.ToString("C")</p>
        <input type="hidden" asp-for="@Model.arqueoDiario.TotalEgreso" value="@Model.TotalEgresos" />
        
       
        <p class="totales">TOTAL DE EFECTIVO A ENTREGAR: @totalEfectivoEntregar.ToString("C") </p>
        
   
    <table class="col-6" id="tableContent">
        
        <tbody id="bodyTableContent">
            <tr><td>
            <!-- Detalle de Dinero en Córdobas -->
            <h4>Detalle de Dinero (Córdobas)</h4>
            <table>
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Denominación</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                                <td><input type="number" class="cantidadc" data-precio="1000" /></td>
                        <td><span>C$ 1,000.00</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                    <tr>
                                <td><input type="number" class="cantidadc" data-precio="500" /></td>
                        <td><span>C$ 500.00</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                    <tr>
                                <td><input type="number" class="cantidadc" data-precio="200" /></td>
                        <td><span>C$ 200.00</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadc" data-precio="100" /></td>
                        <td><span>C$ 100.00</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadc" data-precio="50" /></td>
                        <td><span>C$ 50.00</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadc" data-precio="20" /></td>
                        <td><span>C$ 20.00</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadc" data-precio="10" /></td>
                        <td><span>C$ 10.00</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadc" data-precio="5" /></td>
                        <td><span>C$ 5.00</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadc" data-precio="1" /></td>
                        <td><span>C$ 1.00</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadc" data-precio="0.50" /></td>
                        <td><span>C$ 0.50</span></td>
                                <td><input type="text" class="totalc" readonly /></td>
                    </tr>
                            <tr>
                                <td></td>
                                <td class="totales">Total en Cordoba
                                    @* <input type="hidden" asp-for="@Model.arqueoDiario.TotalCordobas" /> *@
                                </td>
                                <td><input type="text" id="totalGeneralCordobas" readonly />
                                    
                                </td>
                            </tr>
                    @*  @foreach (var d in Model.DetalleCordobas)
            {
                <tr>
                    <td style="text-align:center">@d.Cantidad</td>
                    <td style="text-align:right">C$ @d.Denominacion</td>
                    <td style="text-align:right">@d.Monto.ToString("C")</td>
                </tr>
            } *@
                </tbody>
            </table>

            </td>
            <td style="align-content:baseline;">

            <!-- Detalle de Dinero en Dólares -->
            <h4>Detalle de Dinero (Dólares)</h4>
            <table>
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Denominación</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                                    <td><input type="number" class="cantidadd" data-precio="100" /></td>
                        <td><span>$ 100.00</span></td>
                                <td><input type="text" class="totald" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadd" data-precio="50" /></td>
                        <td><span>$ 50.00</span></td>
                                <td><input type="text" class="totald" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadd" data-precio="20" /></td>
                        <td><span>$ 20.00</span></td>
                                <td><input type="text" class="totald" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadd" data-precio="10" /></td>
                        <td><span>$ 10.00</span></td>
                                <td><input type="text" class="totald" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadd" data-precio="5" /></td>
                        <td><span>$ 5.00</span></td>
                                <td><input type="text" class="totald" readonly /></td>
                    </tr>
                    <tr>
                                    <td><input type="number" class="cantidadd" data-precio="1" /></td>
                        <td><span>$ 1.00</span></td>
                                <td><input type="text" class="totald" readonly /></td>
                    </tr>
                            <tr>
                                <td></td>
                                @* <td class="totales">Total Dolares
                                    <input type="hidden" asp-for="@Model.arqueoDiario.TotalDolares" />
                                </td> *@

                                <td><input type="text" id="totalGeneralDolares" readonly /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="totales">Tasa de Cambio</td>

                                    <td><input type="text" class="cantidadcambio" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="totales">Equivalente En:</td>
                                <td><input type="text" id="EquivalenteCordoba" /></td>
                            </tr>
                </tbody>
            </table>
                    
                </td>
            </tr>
        </tbody>
    </table>
    <div class="TotalesGeneral align-content-center">
        <p class="totalDetalleDinero">
                TOTAL DETALLE DE DINERO:  <u>C$ </u>
        </p>
        @* <input type="hidden" asp-for="@Model.arqueoDiario.TotalDetalleDinero" id="totDetalDinero"/> *@
        <p class="totalEfectivo">
            EFECTIVO VIA TRANSFERENCIA: <u>C$  </u>
        </p>
        <p class="totalDetalleEfectivo">
                TOTAL DETALLE DE EFECTIVO: <u> @totalEfectivoEntregar.ToString("C") </u>
        </p>
            <input type="hidden" asp-for="@Model.arqueoDiario.TotalDetalleEfectivo" value="@totalEfectivoEntregar" />
    </div>

        <p class="totales">
        Total en Letras: <u> </u>
    </p>

    <!-- Firmas -->
    <div class="firma">
        <div>
            __________________________<br />
            Elaborado por
        </div>
        <div>
            __________________________<br />
            Revisado / Recibido por
        </div>
    </div>

    <br />
    
    <button class="no-print text-center align-content-center" onclick="window.print()">🖨 Imprimir</button>

   
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Guardar Arqueo
        </button>
 
    </form>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/numero-a-letras@1.0.6/index.min.js"></script>
<script>
    function totalGeneralCordobas() {
        let total = 0;

        document.querySelectorAll(".totalc").forEach(input => {
            // Extrae solo números (quita C$, comas, etc.)
            let valor = parseFloat(input.value.replace(/[^0-9.-]+/g, "")) || 0;
            total += valor;
        });

        // Mostrar el total general formateado
        document.getElementById("totalGeneralCordobas").value =
            "C$ " + total.toLocaleString("es-NI", { minimumFractionDigits: 2 });
    }
        function numeroEnLetrasCordoba(numero) {
        const formatter = new Intl.NumberFormat('es-ES', {
            style: 'currency',
            currency: 'NIO'
        });

        // Aquí solo formatea, no convierte a letras
        return formatter.format(numero);
    }
        function convertirCordobasConCentavos(valor) {
        const partes = valor.toFixed(2).split(".");
        const entero = parseInt(partes[0]);
        const centavos = partes[1];

        return `${numeroEnLetrasCordoba(entero).toUpperCase()} CÓRDOBAS CON ${centavos}/100`;
    }


    function totalGeneralDolares() {
        let total = 0;

        document.querySelectorAll(".totald").forEach(input => {
            // Extrae solo números (quita C$, comas, etc.)
            let valor = parseFloat(input.value.replace(/[^0-9.-]+/g, "")) || 0;
            total += valor;
        });

        // Mostrar el total general formateado
        document.getElementById("totalGeneralDolares").value =
            "$ " + total.toLocaleString("es-NI", { minimumFractionDigits: 2 });
    }

    //cambio de dolares a cordoba
    document.querySelector(".cantidadcambio").addEventListener("input", function () {
         let totaDetalleDinero=0;
        
        // total en dólares (ya calculado en tu código anterior)
        let totalDolares = parseFloat(
            document.getElementById("totalGeneralDolares").value.replace(/[^0-9.-]+/g, "")
        ) || 0;

         let totalCordobas = parseFloat(
            document.getElementById("totalGeneralCordobas").value.replace(/[^0-9.-]+/g, "")
        ) || 0;

        // tasa de cambio ingresada
        let tasa = parseFloat(this.value) || 0;

        // equivalente total en córdobas
        let equivalente = parseFloat(totalDolares * tasa) || 0;
        totaDetalleDinero=parseFloat(equivalente + totalCordobas) || 0 ;
            let totalRaw = String(totaDetalleDinero)
            .replace(/\./g, "")       // elimina separadores de miles
            .replace(",", ".");       // cambia coma por punto

        let totalLet = parseFloat(totalRaw);
        if(totalDolares>0)
        {

        
         // 🔥 Actualizar el TOTAL DETALLE DE DINERO

        // mostrar en input final
        document.getElementById("EquivalenteCordoba").value =
            "C$ " + equivalente.toLocaleString("es-NI", { minimumFractionDigits: 2 });

           document.querySelector(".totalDetalleDinero u").textContent =
            "C$ " + totaDetalleDinero.toLocaleString("es-NI", { minimumFractionDigits: 2 });
            document.getElementById("#totDetalDinero").value=
            "C$ " + totaDetalleDinero.toLocaleString("es-NI", { minimumFractionDigits: 2 });
            // document.querySelector(".totalDetalleEfectivo u").textContent =
            //    "C$ " + totaDetalleDinero.toLocaleString("es-NI", { minimumFractionDigits: 2 });

               document.querySelector(".totales u").textContent =
            convertirCordobasConCentavos(totalLet).toUpperCase() + " CÓRDOBAS";

    }
    else
    {
         
    
            // 🔥 Actualizar el TOTAL DETALLE DE DINERO
        document.querySelector(".totalDetalleDinero u").textContent =
            "C$ " + totaDetalleDinero.toLocaleString("es-NI", { minimumFractionDigits: 2 });

    // document.querySelector(".totalDetalleEfectivo u").textContent =
    //            "C$ " + totaDetalleDinero.toLocaleString("es-NI", { minimumFractionDigits: 2 });
     document.getElementById("totDetalDinero").value=
            "C$ " + totaDetalleDinero.toLocaleString("es-NI", { minimumFractionDigits: 2 });
            document.querySelector(".totales u").textContent =
            convertirCordobasConCentavos(totalLet).toUpperCase() + " CÓRDOBAS";
    }
    });



    document.querySelectorAll(".cantidadc").forEach(input => {
        input.addEventListener("input", function () {

            let cantidad = parseInt(this.value) || 0;
            let precio = parseFloat(this.dataset.precio);

            let total = cantidad * precio;

            let totalInput = this.closest("tr").querySelector(".totalc");

            totalInput.value =
                "C$ " + total.toLocaleString("es-NI", { minimumFractionDigits: 2 });

            // 🔥 Recalcular total general
            // calcularTotalGeneral();
        });
    });
    document.querySelectorAll(".cantidadd").forEach(input => {
        input.addEventListener("input", function () {

            let cantidad = parseInt(this.value) || 0;
            let precio = parseFloat(this.dataset.precio);

            let total = cantidad * precio;

            let totalInput = this.closest("tr").querySelector(".totald");

            totalInput.value =
                "$ " + total.toLocaleString("es-NI", { minimumFractionDigits: 2 });

            // 🔥 Recalcular total general
             totalGeneralCordobas();
             totalGeneralDolares();
        });
    });
</script>
