@model WebColegio.Models.ViewModel.UsuarioViewModel


@*
    VISTA MÍNIMA FUNCIONAL
    Elimina TODO y pega solo esto
*@

@{

    Layout = null;
}
<div class="login_container">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <div class="left">
        <div class="login">Iniciar Sesión</div>
        <img src="~/Image/colegiosanfrancisco.png" class="logo"></img>
        <div class="eula">Sistema de Gestión Academica y Facturación para el Colegio San Francisco Javier</div>
    </div>
    <div class="right">

        <form class="form" method="post" asp-action="Login" enctype="multipart/form-data">
            <label for="NombreUsuario">Usuario</label>
            <input type="text" name="NombreUsuario" id="user" required placeholder="Ejemp:0011910910011N" />
            <label for="Password">Contraseña</label>
            <input type="password" name="Password" id="password" required placeholder="Contraseña">
            <input type="submit" id="submit" value="Ingresar">

            @* ¿No tienes una Cuenta?<a href="@Url.Action("Create","Usuarios")"> Registrar!</a> *@
        </form>
        @* @if (TempData.ContainsKey("Mensaje"))
        {
            <div class="form-group">
                <div class="alert alert-danger" role="alert">
                    @TempData["Mensaje"]
                </div>

            </div>
        } *@
    </div>


    

</div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="~/js/limpiarcampos.js"></script>
    <script src="~/seewtalert/sweetalert.all.min.js"></script>
    <script src="~/seewtalert/sweetalertstyle.js"></script>
    <link href="~/seewtalert/sweetalert.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @* <partial name="_ValidationScriptsPartial" />  *@
@if (TempData["Mensaje"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: '@(TempData["Tipo"]?.ToString() == "success" ? "Éxito" :
         TempData["Tipo"]?.ToString() == "warning" ? "Atención" :
         "Información")',
                text: '@TempData["Mensaje"]',
                icon: '@TempData["Tipo"]',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}
}
 
